a{
    font-family: "Montserrat", sans-serif;
    font-size: .85rem;
    display: block;
    color: #1e1e1e;
    font-weight: 600;
    letter-spacing: .6px;
    text-decoration: none;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .3px;
    color: #494949;
}
h3{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .3px;
    color: #730C94;
    background: -webkit-linear-gradient(#730C94,#D487BA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}
p{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #494949;
    padding: .5rem 0;
}
.section-home-page{
    width: 100%;
    height: auto;
    overflow-y: auto;
    
}
.section-home-header{
    width: 100%;
    height: 100vh;
    position: relative;
}
.section-home-skills{
    width: 100%;
    height: 100vh;
    background-image: url('../../img/bg5.png'); 
   /* background-color: #A702FC; */
}
.section-home-technologies{
    width: 100%;
    height: 70vh;
    
   background-color: #ffffff
  

}
.container-home-information{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    
}
#tsparticles {
    width: 100%;
    height: 100vh;
   position: absolute;
  z-index: -2;
    
    }